</div>

<section id="sobre">
  <div class="container mt-2 mb-2">
    <div class="row ">
      <div class="col-sm position-relative">
        <h2 class=" mb-5 d-block">Sobre</h2>
        <p class="lead">
          O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela Sociedade Brasileira de Computação
          (SBC) é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o
          objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos,
          currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à
          aprendizagem de Computação.
        </p>

        <img class="img-fluid position-absolute l-0" src="/img/simposio/2024/sobre-img.png" alt="personagens">
      </div>

    </div>
  </div>

</section>





