  <style>
    .td1 {
      width: 15%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>
  
  {{> simposio/2021/pt-BR/headerInterno}}

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">

      {{!-- linha 0 --}}
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <br>
          <h2 style="font-size: 20pt; margin-bottom: 1rem">Palestras</h2>
          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt">Palestra: </h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >21/03, 19h</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_christiane.jpg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>
            </table>

          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt">Palestra: </h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >21/03, 19h</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_christiane.jpg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>
            </table>

        </div>
      </div>
      {{!-- fim linha 0 --}}

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="font-size: 20pt; margin-top: 2rem; margin-bottom: 1rem">Painel: Passado, Presente e Futuro da Educação em Computação</h2>
          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt">Painelistas</h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;" rowspan="4">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >21/03, 19h</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_christiane.jpg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>

              <tr>
                {{!-- <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >21/03, 19h</p>
                </td> --}}
                <td class="td1">
                  <img src="/img/fotos/foto_collen.jpeg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>

              <tr>
                
                <td class="td1">
                  <img src="/img/fotos/foto_jose_armando.png" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>

              <tr>
                
                <td class="td1">
                  <img src="/img/fotos/foto_paulo_blikstein.png" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                
              </tr>
            </table>
        </div>
      </div>


    {{!-- div container --}}
    </div>
  </section>