  <style>
    .td1 {
      width: 15%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>
  
  {{> simposio/2021/pt-BR/headerInterno}}

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <br><br>
          <div class="bg-primary" style="height: 40px;">
            <h3 style="color: white;">01/03/2021, 13:00 - Painel 1: Educação e computação</h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="td1">
                  <img src="/img/fotos/foto_christiane.jpg" style="height:100px; width:80px;" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda quos dolorum excepturi sed praesentium sunt facere accusamus, nostrum illo asperiores nulla odio, eos repudiandae, dignissimos quam ab esse beatae.</p>
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda, odio.</p>
                </td>
              </tr>

              <tr>
                <td class="td1">
                  <img src="/img/fotos/foto_collen.jpeg" style="height:100px; width:80px;"/>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>

              <tr>
                <td class="td1">
                  <h4>Foto</h4>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>
            </table>
        </div>
      </div>

      {{!-- linha 2 --}}
      <div class="row mt-4">
        <div class="col-lg-8 mx-auto">
          <div class="bg-primary" style="height: 40px;">
            <h3 style="color: white;">02/03/2021, 09:00 - Painel 2: Ensino de algoritmos</h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="td1">
                  <h4>Foto</h4>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>

              <tr>
                <td class="td1">
                  <h4>Foto</h4>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>
            </table>
        </div>
      </div>
      {{!-- fim linha 2 --}}

      {{!-- linha 3 --}}
      <div class="row mt-4">
        <div class="col-lg-8 mx-auto">
          <div class="bg-primary" style="height: 40px;">
            <h3 style="color: white;">00/03/2021, 09:00 - Painel 3: Ensino de computação</h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="td1">
                  <h4>Foto</h4>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>

              <tr>
                <td class="td1">
                  <h4>Foto</h4>
                </td>
                <td>
                  <h4>Mini bio</h4>
                </td>
                <td>
                  <h4>Descrição palestra</h4>
                </td>
              </tr>
            </table>
        </div>
      </div>
      {{!-- fim linha 3 --}}


    {{!-- div container --}}
    </div>
  </section>