  <style>
    .td1 {
      width: 15%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>
  
  {{> simposio/2021/pt-BR/headerInterno}}

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">

      {{!-- linha 0 --}}
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <br>
          <h2 style="font-size: 20pt; margin-bottom: 1rem">Palestras</h2>
          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt"> </h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >27/04, 14h (BSB)</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_collen.jpeg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    <b>Colleen Lewis</b> is an Assistant Professor of computer science (CS) at the University of Illinois Urbana-Champaign. Lewis was previously the McGregor-Girand Associate Professor of CS at  Harvey Mudd College. At the University of California, Berkeley, Lewis completed a PhD in science and mathematics education, an MS in computer science, and a BS in electrical engineering and computer science. Her research seeks to identify and remove barriers to CS learning and understand and optimize CS learning. Lewis curates CSTeachingTips.org, a project for disseminating effective CS teaching practices. Lewis has received the NCWIT.org Undergraduate Mentoring Award and the AnitaB.org Emerging Leader Award for her efforts to broaden participation in computing.
                    </p>
                </td>
                
              </tr>
            </table>

          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt"> 
              Como avaliar a aprendizagem de Computação na Educação Básica
            </h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >28/03, 13h (BSB)</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_christiane.jpg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    C. Gresse von Wangenheim é professora do Departamento de Informática e Estatística (INE) da Universidade Federal de Santa Catarina (UFSC) e coordenadora do Grupo de Qualidade de Software (GQS), com foco em pesquisa científica, desenvolvimento e transferência de modelos, métodos e ferramentas de engenharia de software voltada ao ensino de computação. Ela também é coordenadora da iniciativa Computação na Escola, que visa levar o ensino de computação a Educação Básica. Anteriormente ela trabalhou na UNIVALI/São José e no Fraunhofer Institute for Experimental Software Engineering/Alemanha.
                    </p>
                </td>
                
              </tr>
            </table>

        </div>
      </div>
      {{!-- fim linha 0 --}}

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="font-size: 20pt; margin-top: 2rem; margin-bottom: 1rem">Painel: Passado, Presente e Futuro da Educação em Computação</h2>
          <div class="bg-primary" style="height: 40px; text-align: center">
            <h3 style="color: white; font-size: 16pt">Painelistas</h3>
          </div>
            <table class="table table-striped">
              <tr>
                <td class="bg-primary" style="text-align: center; vertical-align:middle;" rowspan="4">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >29/03, 13h (BSB)</p>
                </td>
                <td class="td1">
                  <img src="/img/fotos/foto_andre.jpeg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    <b>Prof. André Souza Lemos</b><br>
                    Instituto Federal do Triângulo Mineiro (IFTM)
                    </p>
                </td>
                
              </tr>

              <tr>
                {{!-- <td class="bg-primary" style="text-align: center; vertical-align:middle;">
                  <p class="lead" style="font-size: 14pt; text-align:center; transform: rotate(-90deg); margin:0 -100%; display:inline-block; color: #fff" >21/03, 19h</p>
                </td> --}}
                <td class="td1">
                  <img src="/img/fotos/foto_jose_armando.png" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    <b>Prof. José Armando Valente</b><br>
                    Universidade Estadual de Campinas (UNICAMP)
                    </p>
                </td>
                
              </tr>

              <tr>
                
                <td class="td1">
                  <img src="/img/fotos/foto_paulo_blikstein.png" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    <b>Prof. Paulo Blikstein</b>
                    Stanford University
                  </p>
                </td>
                
              </tr>

              <tr>
                
                <td class="td1">
                  <img src="/img/fotos/foto_roberto.jpg" style="height:120px; width:100px;" class="rounded-circle" />
                </td>
                <td>
                  <p class="lead" style="text-align: justify; font-size: 12pt; text-align: justify;">
                    <b>Prof. Roberto Almeida Bittencourt (Mediador)</b><br>
                    Universidade Estadual de Feira de Santana (UEFS)
                  </p>
                </td>
                
              </tr>
            </table>
        </div>
      </div>


    {{!-- div container --}}
    </div>
  </section>