  {{> simposio/2021/en-US/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Certificate</h2> 
          <br>
          <h2>Get and validete your certificate: </h2>
          <br>
          <form method="POST" action="/simposio/2021/contato/email">
            <div class="form-group">
                <label for="email1">Email used in subscribe:</label>
                <input type="email" class="form-control" name="email1" id="email1">
            </div>
            <div class="form-group">
                <label for="assunto1">Full name:</label>
                <input type="text" class="form-control" name="assunto1" id="assunto1">
            </div>

            <p> <input type="submit" value="Enviar" class="btn btn-primary btn-lg" /> </p>
          </form>
        </div>
      </div>
    </div>
  </section>