  <style>
    .td1 {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>
  
  {{> simposio/2021/en-US/headerInterno}}

  <section id="inscricoes" style="background-color:rgb(221, 232, 243);" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Inscrições</h2>
          <br>
          <p class="lead" style="text-align: justify; font-size: 14pt">Esse evento é realizado pela Sociedade Brasileira de Computação – SBC, a SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é a maior sociedade de computação da América do Sul.</p>         
          <p class="lead" style="text-align: justify; font-size: 14pt">Os valores de inscrição para o EduComp 2021 estão listados abaixo. Destacamos que estudantes e profissionais que não são associados à SBC podem se associar (ou renovar a associação) no processo de inscrição. Inscrever-se com associação à SBC é a opção mais vantajosa para os não associados à SBC, confira os benefícios de se associar à SBC.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt">As inscrições são realizadas via sistema <a href="https://centraldesistemas.sbc.org.br/ecos">ECOS</a> da SBC.</p>

          <br>
          <h3>Verificação da Categoria Escolhida</h3>
          <p class="lead" style="text-align: justify; font-size: 14pt">Será exigido no momento da inscrição no sistema ECOS, para as categorias que necessitam de algum tipo comprovação, o upload que ateste a categoria escolhida. A verificação desse documento pode levar até 1 dia útil. Logo, sugerimos que para evitar algum transtorno não deixe para o último dia da faixa de inscrição. Somente após a validação pela equipe da SBC, as formas de pagamento serão liberadas. O inscrito receberá e-mails informativos em todas as etapas da evolução da inscrição dele.</p>
        
          <br>
          <h3>Quadro de valores das inscrições</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td class="td1">
                <h4>Descrição</h4>
              </td>
              <td>
                <h4>Até 30/12</h4>
              </td>
              <td>
                <h4>Até 15/01</h4>
              </td>
              <td>
                <h4>Até 25/01</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 53,00</h4>
              </td>
              <td>
                <h4>R$ 73,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 75,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 75,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado ou com associação não vigente à SBC (COMBO QUADRIMESTRAL: inscrição no evento + associação quadrimestral à SBC)</h4>
              </td>
              <td>
                <h4>R$ 60,35</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 81,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 81,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 186,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 186,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação não associado ou com associação não vigente à SBC (COMBO QUADRIMESTRAL: inscrição no evento + associação quadrimestral à SBC)</h4>
              </td>
              <td>
                <h4>R$ 126,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 196,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 150,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 410,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 410,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional não associado ou com associação não vigente à SBC (COMBO QUADRIMESTRAL: inscrição no evento + associação quadrimestral à SBC)</h4>
              </td>
              <td>
                <h4>R$ 237,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 425,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 53,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 144,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 144,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica não associado ou com associação não vigente à SBC (COMBO QUADRIMESTRAL: inscrição no evento + associação quadrimestral à SBC)</h4>
              </td>
              <td>
                <h4>R$ 84,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

             <tr>
              <td class="td1">
                <h4>Professor de educação básica não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 150,00</h4>
              </td>
              <td>
                <h4>R$ 95,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

        </table>

        <h3>Inscrição para autores</h3>
        <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos somente serão publicados quando pelo menos um dos autores efetivar sua inscrição no evento. Os autores devem fazer o upload do comprovante de pagamento de inscrição, via JEMS, até o dia 02/10/2020 para os eventos e até dia 07/10/2020 para o SBIE. A publicação dos artigos nos anais está condicionada ao envio do comprovante solicitado.</p>
        <p class="lead" style="text-align: justify; font-size: 14pt">A identificação que um dos autores se inscreveu é o pagamento da INSCRIÇÃO mais a TAXA DE PUBLICAÇÃO no sistema ECOS de inscrições. Assim, caso um autor tenha mais de um trabalho aceito a ser publicado, com uma única inscrição e uma única taxa de publicação, garante todos os trabalhos.</p>
        
        <br>
        <h3>As inscrições poderão ser feitas até o último dia do evento</h3>
        <p class="lead" style="text-align: justify; font-size: 14pt"><span style="font-weight: bold;">Formas de Pagamentos:</span> O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em conta do Banco do Brasil, nota de empenho e faturamento, através do sistema de inscrições da SBC, porém os pagamentos por débito e boleto serão fechados dia 09/11/2020. Após essa data será possível pagar por cartão de crédito, nota de empenho e faturamento pelo sistema de inscrições.</p>
        <p class="lead" style="text-align: justify; font-size: 14pt"><span style="font-weight: bold;">Inscrições por Nota de Empenho e Faturamento:</span> O participante deverá acessar o sistema ECOS e realizar a inscrição, selecionando a forma de pagamento "nota de empenho" ou "faturamento" e clicar em pagar. O sistema fornecerá as informações necessárias que devem constar na nota de empenho ou no pedido de faturamento.</p>
        <p class="lead" style="text-align: justify; font-size: 14pt"><span style="font-weight: bold;">Política de cancelamento:</span> Até dia 09/11/2020 pode-se fazer uma devolução de 80% do valor pago pela inscrição no CBIE 2020. Após esta data não haverá devolução de qualquer valor pago. A política se aplica tanto para o cancelamento da inscrição, quanto para o cancelamento de qualquer atividade adicional. Para solicitar o cancelamento, enviar um e-mail para <span style="font-weight: bold;">faturamento@sbc.org.br</span>.</p>

        <br>
        <h3>Participação gratuita sem certificado do evento</h3>
        <p class="lead" style="text-align: justify; font-size: 14pt">Os interessados no evento, que não desejam receber certificado, podem se inscrever de forma gratuita (excluindo o JAIE, pois possui número limitado de vagas), possibilitando assistir as sessões técnicas, palestras e mesas redondas.</p>

        <br>
        <h3>Por que ser associado à SBC?</h3>
        <p class="lead" style="text-align: justify; font-size: 14pt">Se associar à SBC é uma forma de tornar a SBC ainda mais forte para representar a nossa área de atuação junto aos diversos setores. Que tal se juntar a nós? Outros motivos para ser associado à SBC são:</p>
        <ol>
          <li class="lead" style="font-size: 14pt">Acesso à rede sem fio Eduroam (somente para pessoa física);</li>
          <li class="lead" style="font-size: 14pt">Acesso ao FileSender da RNP;</li>
          <li class="lead" style="font-size: 14pt">Desconto em inscrições nos mais de 40 eventos realizados anualmente pela SBC;</li>
          <li class="lead" style="font-size: 14pt">Desconto de no mínimo 15% em inscrições nos eventos apoiados pela SBC;</li>
          <li class="lead" style="font-size: 14pt">Valor de inscrição diferenciado no POSCOMP;</li>
          <li class="lead" style="font-size: 14pt">Acesso aos estudos realizados pela SBC e destinados a órgãos públicos ou privados, expressando posições políticas da Sociedade.</li>
        </ol>

        <p class="lead" style="text-align: justify; font-size: 14pt">Confira os benefícios específicos de cada categoria no site da <a href="http://www.sbc.org.br/associe-se-2/269-beneficios">SBC</a>.</p>

        </div>
      </div>
    </div>
  </section>

